<div class="grid p-4">
  <div class="col-12">
    <div
      class="flex justify-content-center align-content-center text-align-center"
    >
      <!-- LOGIN -->
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <p-card
          styleClass="w-20rem"
          header="Login"
          subheader="Faça login com sua conta existente!"
          *ngIf="loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              autocomplete="false"
              type="email"
              pInputText
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center mt-3"
          >
            <input
              autocomplete="false"
              type="password"
              pInputText
              placeholder="Senha"
              formControlName="password"
            />
          </div>
          <div class="card flex justify-content-center mt-3">
            <button
              [disabled]="!loginForm.valid"
              type="submit"
              pButton
              pRipple
              label="Login"
            ></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-center mt-5"
            (click)="loginCard = !loginCard"
            style="cursor: pointer"
            >Ainda não têm uma conta? <br /> Cadastra-se.</span
          >
        </p-card>
      </form>

      <!-- SIGNUP -->
      <form [formGroup]="registerUserForm" (ngSubmit)="register()">
        <p-card
          styleClass="w-20rem"
          header="Criar conta"
          subheader="Crie já sua conta gratuita!"
          *ngIf="!loginCard"
        >
          <div
            class="flex justify-content-center align-content-center text-align-center"
          >
            <input
              autocomplete="false"
              formControlName="name"
              type="text"
              pInputText
              placeholder="Nome"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center my-3"
          >
            <input
              autocomplete="false"
              formControlName="email"
              type="email"
              pInputText
              placeholder="Email"
            />
          </div>
          <div
            class="flex justify-content-center align-content-center text-align-center my-3"
          >
            <input
              autocomplete="false"
              formControlName="password"
              type="password"
              pInputText
              placeholder="Senha"
            />
          </div>
          <div class="card flex justify-content-center">
            <button
              [disabled]="!registerUserForm.valid"
              type="submit"
              pButton
              pRipple
              label="Criar conta"
            ></button>
          </div>
          <span
            class="flex justify-content-center align-content-center text-align-center mt-5"
            style="cursor: pointer"
            (click)="loginCard = !loginCard"
            >Já têm uma conta? Faça o login.</span
          >
        </p-card>
      </form>
    </div>
  </div>
</div>
